
@media (max-width: 1230px) {
    body{
        //Навигационное меню
        .header{
            &__logo{
                margin-right: 0;
            }
            &__wrapper-account{
                margin-left: 0;
            }
        }
        //-------------------
    }
}
@media (max-width: 1245px) {
    body{
        position: relative;
        min-width: 100px;
        min-height: 100px;

        //Навигационное меню
        .header {
            height: 100%;
            width: 100%;
            background-color: #fff;
            // .header__wrapper-all
            &__wrapper-all {
                flex-direction: column;
                align-items: inherit;
                padding: 20px 0;
            }
            // .header__logo
            &__logo {
                margin-right: 260px;
            }
    
            // .header__name
            &__name {
                flex-direction: row-reverse;
                color: #9B9B9B;
                margin-top: 20px;
                img{
                    width: 35px;
                    height: 35px;
                    padding-left: 0;
                }
            }
    
            // .header__account
            &__account {
                margin-right: 9px;
            }
            &__wrapper-burger{
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
                top: 50px;
                background-color: rgb(255, 255, 255);
                transition: 1s all ease;
            }

            &__menu{
                position: relative;
                display: block;
                display: flex;
            }

            #menu__hidden{
                display: none;
            }

        }
        .container {
            width: 800px;
        }
        .nav {    
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 35px;

            &__hr{
                display: block;
                width: 360px;
                border: 1px solid #5A5A5A;
                &:last-child{display: none;}
            }

            // .nav__list
            &__list {
                flex-direction: column;
                align-items: start;
                li{
                    margin: 0;
                    padding: 15px 0;
                    a{color: #5A5A5A;}
                    img{display: none;}
                    &:last-child{display: none;}
                }
            }

            &__cross{
                display: block;
                position: absolute;
                top: 12px;
                right: 19px;
                cursor: pointer;
                background: transparent;
            }

            &__sub-list{
                top: 38px;
                border: 1px solid black;
                border-radius: 2%;
                width: 342px;
                height: 205px;
                padding-left: 20px;
            }
        }

        section.main{
            z-index: -99;
        }
        .header__wrapper-burger_active{
            display: block;
            z-index: 999;
        }
        //-------------------

        //Slider
        .slider {
            // .slider__img
            &__img {
                height: 250px;
            }
        }
        //-------------------

        .cards{
            &__card{
                max-width: 745px;
            }
        }

        .news{
            &__descr{
                max-width: 600px;
            }

            &__img-news{
                display: flex;
                justify-content: center;
            }

            &__img{
                margin-left: 25px;
            }
        }

        .main{
            &__wrapper-blocks{
                flex-direction: column;
            }
            &__cards{
                width: 100%;
                max-width: 800px;
                margin-right: 0;
            }

            &__news{
                width: 100%;
                width: 800px;
                margin-top: 50px;
            }

            &__tags{
                display: block;
                margin: 0 auto;
                margin-top: 35px;
                min-height: 170px;
                width: 100%;
                max-width: 800px;
            }
        }
    }
}

//Изменён контейнер
@media (max-width: 888px) {
    body{
        .container{
            width: 500px;
        }

        //Slider
        .slider {
            // .slider__img
            &__img {
                height: 150px;
            }
        }
        //-------------------

        .cards{
            &__card{
                display: flex;
                flex-direction: column;
                min-height: 310px;
                padding-bottom: 20px;
            }

            &__items-bottom{
                margin-top: 15px;
            }

            &__img{
                height: 294px;
                width: 100%;
                min-height: 100%;
                margin-top: 5px;
            }

            &__text-top{
                padding-top: 10px;
                max-width: 430px;
            }

            &__descr{
                max-width: 430px;
            }

            &__card{
                max-width: 450px;
            }

            &__wrapper-right{
                max-width: 430px;
            }

            &__wrapper-hearts{
                margin-top: 10px;
            }

            &__wrapper-left{
                overflow: hidden;
            }
        }

        .main{
            &__cards{
                max-width: 500px;
            }
            &__news{
                width: 503px;
            }
        }

        .news{
            &__descr{
                max-width: 320px;
            }
        }

        .tags{
            &__btn{
                button{
                    margin: 3.4px 1.5px;
                }
            }
            &__wrapper-btn{
                margin-left: 20px;
            }
        }

    }
}

@media (max-width: 600px){
    body{
        .container{
            width: 380px;
            overflow: hidden;
        }

        //Навигационное меню
        .header{
            width: 100%;

            &__wrapper{
                max-width: 320px;
            }
            &__wrapper-burger{
                width: 100%;
            }
        }

        .nav{
            width: 280px;
            &__hr{
                width: 280px;
            }
            &__sub-list{
                width: 265px;
                padding-left: 20px;
            }
        }
        //-------------------

        //Slider
        .slider {
            // .slider__btn-left
            &__btn-left {
                left: 0;
                margin-left: 0;
            }

            // .slider__btn-right
            &__btn-right {
                right: 0;
            }
        }
        //-------------------

        .cards{
            &__title{
                padding: 0;
                display: flex;
                justify-content: center;
                font-size: 29px;
            }

            &__card{
                max-width: 330px;
                min-height: 360px;
            }

            &__items-bottom{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 40px;
                &__wrapper-right{
                    display: flex;
                    flex-direction: column;
                }
            }

            &__wrapper-right{
                max-width: 260px;
                margin-left: 12px;
            }

            &__img{
                height: 174px;
            }
        }

        .main{
            &__cards{
                max-width: 380px;
            }
            &__news{
                max-width: 380px;
            }
        }

        .news{
            &__descr{
                max-width: 200px;
            }
            &__title{
                font-size: 29px;
            }
        }

        .tags{
            &__title{
                font-size: 29px;
            }
        }

        .top{
            &__descr{
                font-size: 11px;
                line-height: 12px;
            }
        }

        .public{
            &__info{
                flex-direction: column;
            }
        }

        .right-info{
            margin-top: 5px;
        }

        .descr{
            &__text{
                font-size: 11px;
                line-height: 17px;
            }
        }
    }
}
@media (max-width: 400px){
    body{
        .container{
            width: 320px;
        }

        .cards{
            &__title{
                font-size: 22px;
            }
            &__card{
                max-width: 260px;
                min-height: 350px;
            }
            &__img{
                width: 220px;
                height: 150px;
            }
            &__text-top{
                font-size: 14px;
                line-height: 16px;
            }
            &__descr{
                font-size: 11px;
                line-height: 12px;
            }
            &__wrapper-right{
                margin-left: 0;
                max-width: 200px;
            }
            &__items-bottom{
                margin-left: 0;
            }
        }
        .news{
            &__title{
                font-size: 22px;
                margin-top: 0;
            }

            &__descr{
                max-width: 110px;
            }
        }
        .tags{
            &__title{
                font-size: 22px;
            }
            &__wrapper-btn{
                margin-left: 10px;
            }
        }

        .item-right{
            &__estimation{
                margin-top: 8px;
            }
        }

        .main{
            &__news{
                max-width: 320px;
                padding-top: 18px;
            }

            &__tags{
                padding-bottom: 20px;   
            }
        }

        .info{
            &__left{
                flex-direction: column;
                align-items: flex-start;
            }
            &__text{
                padding-top: 15px;
            }
        }

        .public{
            &__info{
                align-items: flex-start;
            }
        }

        .left-info{
            &__text{
                margin-top: 5px;
            }
        }

        .right-info{
            // margin-top: 0;
        }

        .footer-content{
            &__tag{
                font-size: 13px;
                span{
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 350px){
    body{
        .container{
            width: 280px;
        }

        .cards{
            &__title{
                font-size: 22px;
            }
            &__card{
                max-width: 235px;
                min-height: 350px;
            }
            &__img{
                width: 220px;
                height: 150px;
            }
            &__text-top{
                font-size: 14px;
                line-height: 16px;
            }
            &__descr{
                font-size: 11px;
                line-height: 12px;
            }
            &__wrapper-right{
                margin-left: 0;
                max-width: 200px;
            }
            &__items-bottom{
                margin-left: 0;
            }
        }
        .news{
            &__title{
                font-size: 22px;
                margin-top: 0;
            }

            &__descr{
                max-width: 110px;
            }
        }
        .tags{
            &__title{
                font-size: 22px;
            }
            &__wrapper-btn{
                margin-left: 10px;
            }
        }

        .item-right{
            &__estimation{
                margin-top: 8px;
            }
        }

        .main{
            &__news{
                max-width: 280px;
                padding-top: 18px;
            }

            &__tags{
                padding-bottom: 20px;   
            }
        }
    }
}